body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    padding: 50px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

button {
    margin: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #007bff;
    border: none;
    color: #fff;
    border-radius: 5px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

textarea {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    font-family: inherit;
    font-size: 14px;
    resize: vertical;
}

#jokeDisplay {
    font-size: 18px;
    line-height: 1.5;
    margin-top: 20px;
}
/* Add this to your existing style.css file */
.fa-heart {
    margin-right: 8px;
    color: #d63031;
  }
  
  .fa-heart:hover {
    color: #e17055;
  }
  .fa-poop {
    margin-left: 8px;
    color: #5a460a;
  }
  
  .fa-poop:hover {
    color: #78683a;
  }
  