    html,
    body {
      margin: 0;
      padding: 0;
    
}

.comic {/*comic layout (remember it's white and gets color from child*/
    display: flex;
    flex-direction: column;
    font-family: "Comic Sans", cursive;
    padding: 1vmin;
    max-width: 600px;
 
    margin: 0 auto;
    text-align: center;
    padding: 50px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

h1 {
    font-size: 50px;
    margin-bottom: 20px;
}

h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

h3 {
    text-align: center;
    font-size: 40px;
    margin-bottom: 20px;
    padding: 10px
}
h4{
    text-align: center;
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 10px

}
h5{
    text-align: center;
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 10px
}

button {
    display: inline-block;
    margin-right: 40px;
    outline: 0;
    border:0;
    cursor: pointer;
    text-decoration: none;
    position: relative;
    color: #000;
    background: #fff;
    line-height: 10px;
    border-radius: 40px;
    padding: 20px;
    font-size: 20px;
    font-weight: 600;
    box-shadow: rgb(255, 198, 0) -2px -2px 0px 2px, rgb(246, 84, 174) 0px 0px 0px 4px, rgba(0, 0, 0, 0.05) 0px 0px 2px 7px;
    transition: all 0.2s;
    hover:{box-shadow: rgb(246, 84, 174) -2px -2px 0px 2px, rgb(255, 198, 0) 0px 0px 0px 4px, rgba(0, 0, 0, 0.05) 0px 0px 2px 7px; transform: scale(1.01);
    }
}
#button2 {
    display: inline-block;
    margin-right: 0px;
    outline: 0;
    border:0;
    cursor: pointer;
    text-decoration: none;
    position: relative;
    color: #000;
    background: #fff;
    line-height: 10px;
    border-radius: 40px;
    padding: 20px;
    font-size: 20px;
    font-weight: 600;
    box-shadow: rgb(255, 198, 0) -2px -2px 0px 2px, rgb(246, 84, 174) 0px 0px 0px 4px, rgba(0, 0, 0, 0.05) 0px 0px 2px 7px;
    transition: all 0.2s;
    hover:{box-shadow: rgb(246, 84, 174) -2px -2px 0px 2px, rgb(255, 198, 0) 0px 0px 0px 4px, rgba(0, 0, 0, 0.05) 0px 0px 2px 7px; transform: scale(1.01);
    }
}

button:hover {
    background-color: #0056b3;
}

textarea {
    width: 60%;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    font-family: inherit;
    font-size: 14px;
    resize: vertical;
}

#jokeDisplay {
    font-size: 18px;
    line-height: 1.5;
    margin-top: 20px;
    margin-right: 50px;
    margin-left: 50px;
}


.panel {/*Panel in general*/
  background-color: #fff;
  border: solid 2px #000;
  box-shadow: 0 6px 6px -6px #000;
  display: inline-block;
  flex: 1 1;
  height: 600px;
  margin: 1vmin;
  overflow: hidden;
  position: relative;
}

.favorites {
  overflow: hidden;
 overflow-y: scroll;
 height: 100%;
}

.imgpanel {/*Meme image panel*/
    background-color: #fff;
    border: solid 2px #000;
    box-shadow: 0 6px 6px -6px #000;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1 1;
    height: 00px;
    margin: 1vmin;
    overflow: hidden;
    position: relative;
    min-width: 1000px;
    min-height: 204px;
  }

.text {/*text color*/
  background-color: #fff;
  border: solid 2px #000;
  margin: 0;
  padding: 3px 10px;
}

.top-left {/*comic corner text top left*/
  left: -6px;
  position: absolute;
  top: -2px;
  transform: skew(-15deg);
}

.bottom-right {/*comic corner text bottom right*/
  bottom: -2px;
  position: absolute;
  right: -6px;
  transform: skew(-15deg);
}

.speech { /*speech bubble layer 1 */
  background-color: #fff;
  border: solid 2px #000;
  border-radius: 12px;
  display: inline-block;
  margin: 0.5em;
  padding: 0.5em 1em;
  position: relative;
}

.speech:before {/*speech bubble layer 2 */
  border: solid 12px transparent;
  border-left: solid 12px #000;
  border-top: solid 12px #000;
  bottom: -24px;
  content: "";
  height: 0;
  left: 24px;
  position: absolute;
  transform: skew(-15deg);
  width: 0;
}

.speech:after {/*speech bubble layer 3 */
  border: solid 10px transparent;
  border-left: solid 10px #fff;
  border-top: solid 10px #fff;
  bottom: -19px;
  content: "";
  height: 0;
  left: 27px;
  position: absolute;
  transform: skew(-15deg);
  width: 0;
}

.panel:nth-child(1) {
  flex-basis: 400px;
}
.panel:nth-child(2) {
  flex-basis: 200px;
}
.panel:nth-child(3) {
  flex-basis: 200px;
}
.panel:nth-child(4) {
  flex-basis: 200px;
}
.panel:nth-child(5) {
  flex-basis: 200px;
}
.panel:nth-child(6) {
  flex-basis: 200px;
}
.panel:nth-child(7) {
  flex-basis: 400px;
}
.panel:nth-child(8) {
  flex-basis: 200px;
}
.panel:nth-child(9) {
  flex-basis: 200px;
}

/* background colours */

.panel:nth-child(4n + 1) {
    background-image: radial-gradient(circle, yellow, orange);
  }
  
  .panel:nth-child(4n + 2) {
    background-image: radial-gradient(circle, lightblue, deepskyblue);
  }
  
  .panel:nth-child(4n + 3) {
    background-image: radial-gradient(circle, palegreen, yellowgreen);
  }
  
  .panel:nth-child(4n + 4) {
    background-image: radial-gradient(circle, lightcoral, tomato);
  }
 

/* Add this to your existing style.css file */
.fa-heart {
    margin-right: 8px;
    color: #d63031;
  }
  
  .fa-heart:hover {
    color: #e17055;
  }
  .fa-poop {
    margin-left: 8px;
    color: #5a460a;
  }
  
  .fa-poop:hover {
    color: #78683a;
  }
  

